.minhafoto img{
    width: 300px;
height: 400px;
display: flex;
}

.apresentacao{
    justify-content: center;
  display: flex;  
  background-color: rgb(122, 122, 232);

}

.apresentacao h1{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;

}

.alinhar{
    display: flex;
    font-size: large;
    justify-content:center
}


.ftjuemel{
    display: flex;
    justify-content: center;
}

.ftjuemel img{
height:400px;
width:300px;
}

.momentos{
    display: flex;
    justify-content: center;
}

.texto1{
    display: flex;
    justify-content: space-around;
    background-color: rgb(75, 75, 187);
}



h1{
    color: rgb(24, 24, 85);
}

body{
    background-color: rgb(75, 75, 187);
}

.fotos h1{
    display: flex;
    justify-content: center;
}

.nome h1{
    color: rgb(255, 254, 255);
    background-color:rgb(75, 75, 187) ;
    font-size: large;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.beetlejuice img{
    height:400px;
width:300px;
}

.beetlejuice{
    display: flex;
    flex-direction: column;
}

.beetlejuice h3{
    color: aliceblue;
    background-color:rgb(101, 101, 223) ;
}
.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.listadefilmes h1{
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color:rgb(101, 101, 223);
}

.maxxxine{
    display: flex;
    flex-direction: column;
}

.maxxxine img{
    height:400px;
width:300px;
margin: 20px;
}

.maxxxine h3{
    color: rgb(255, 255, 255);
    background-color:rgb(101, 101, 223);
}
.coraline{
    display: flex;
    flex-direction: column;
}

.coraline img{
    height:400px;
    width:300px;
    margin: 20px;
}

.coraline h3{
    color: rgb(255, 255, 255);
    background-color:rgb(101, 101, 223);
}
.cisne{
    display: flex;
    flex-direction: column; 
}

.cisne img{
    height:400px;
    width:300px; 
    margin: 20px; 
}

.cisne h3{
    color: rgb(255, 255, 255);
    background-color:rgb(101, 101, 223);
}

.dias{
    display: flex;
    flex-direction: column;
}

.dias img{
    height:400px;
    width:300px;
    margin: 20px;  
}

.dias h3{
    color: rgb(255, 255, 255);
    background-color:rgb(101, 101, 223);
}